* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore


*.php linguist-language=PHP
*.blade.php linguist-language=Blade


vendor/* linguist-vendored
node_modules/* linguist-vendored
public/vendor/* linguist-vendored
storage/* linguist-vendored
bootstrap/cache/* linguist-vendored
